
@{
    ViewBag.Title = "getPhyical";
    Layout = "~/Views/Shared/_THCUI.cshtml";
}

<body class=" bg5">
    <div id="page ">

        <nav id="menu">
        </nav>
        <div class="header-bar">
        </div>
        <div class="content">

            <div class="logo w50">
                <img src="~/images/Logo_sm.png" class="logo-sm" />
            </div>
            <section id="msg">
                <div class="container">
                                       
                </div>

            </section>                       

        </div>
    </div>

    <div id="div_wait" class="popup-content-box">
        <div style="margin:10px;">
            <img src="~/images/wait.gif" style="width:120px;height:80px;" />
            <br />
            <strong>資料傳送中</strong>
        </div>
    </div>

    <script>

    var timeHandle;
    var acc = '';
    var event = '';
    var tk = '';
    var m = '';

    $(document).ready(function () {

        $("#div_wait").show();

        @{
                if (!string.IsNullOrEmpty(ViewBag.ACC))
                {
                    <text>
        acc = '@ViewBag.ACC';
        </text>
                }

                if (!string.IsNullOrEmpty(ViewBag.EVENT))
                {
                    <text>
        event = '@ViewBag.EVENT';
        </text>
                }

                if (!string.IsNullOrEmpty(ViewBag.TICKET))
                {
                    <text>
        tk = '@ViewBag.TICKET';
        </text>
                }

                 if (!string.IsNullOrEmpty(ViewBag.MOBIL))
                {
                    <text>
        m = '@ViewBag.MOBIL';
        </text>
                }
            }

        done();
    });

    function done() {
        window.location.href = '@ViewBag.DOMAIN' + '?acc=' + acc + '&evt=' + event + '&tk=' + tk;
    }

    </script>

</body>

