
@{    
    Layout = "~/Views/Shared/_THC.cshtml";
}
@model System.Data.DataTable
@using System.Data;
@using System.Collections.Generic;

<style>
        
    #scroll::-webkit-scrollbar {
        width: 8px;        
    }

    #scroll::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
    }

    #scroll::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }

    .cp{
        color:#cc3300;
    }

     h3 {
        color:#808080;
    }

    .link{
         color:#42A8DF;
    }

    span{
        text-decoration:none;
    }

    .win_img{
        float:right;
        margin-top:-20px;
    }
</style>

    <div class="content inputcontent text-center">
        <div style="clear:both"></div>
        <br />
        <img id="img" style="" src="~/images/winning.png">
        <br />
        <br />
        <div class="listpanel" id="scroll" style="height:575px;overflow-x:hidden ;overflow-y: scroll;border: 1px solid #fff;border-radius:8px;padding-top:5px;padding-bottom:5px;padding-left:10px;padding-right:10px;">

            <div>

                @{
                    if (Model != null)
                    {
                        foreach (DataRow row in @Model.Rows)
                        {
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="col-xs-12 col-xs-offset-0" style="border:1px solid #dcd9d9;background-color:rgba(0,0,0,0.2);">
                                        <hr style="color:blue!important;height:1px;" />
                                    </div>
                                                   
                                    @if(@row["EUR015"].ToString() == "0")
                                    {
                                    <div style="text-align:left;padding-top:30px;padding-bottom:10px;">
                                        <p style="font-size:large;color:black!important;">@row["AE003"] @row["AE008"]</p>
                                        中獎序號 @row["EUR014"]
                                        <img class="win_img" src="~/images/win_desc_1.png" act="@row["AE003"]" windesc="@row["EUR016"]" /> 
                                    </div>
                                    }
                                    else
                                    {
                                    <div style="text-align:left;padding-top:30px;padding-bottom:10px;">
                                        <p style="font-size:large;color:black!important;">@row["AE003"] @row["AE008"]</p>
                                        中獎獎項 @row["EUR013"]                                       
                                    </div>
                                    }
                                   
                                    
                                    @*<div class="listheader">
                                        <div class="title col-xs-9">@row["AE003"]</div>
                                        <div class="link col-xs-3"><a src="~images/win_desc_1.png"><strong class="cp">恭喜中獎</strong></a></div>
                                    </div>
                                    <div class="listcontent">
                                        <div class="thumb"><img src="~/images/bonuse.png" /></div>
                                        <div class="description">
                                            活動期間 @row["AE005"] ~ @row["AE006"] <br />
                                            活動系列 @row["AE008"]<br />
                                            掃描時間 @row["EUR004"]<br />
                                            得獎獎項 @row["EUR013"]<br />

                                        </div>
                                    </div>*@
                                </div>
                            </div>
                        }
                    }
                }                                

            </div>

        </div><!--end listpanel-->
        <!-- 
        <div style="clear:both;"></div>
        <div class="row" id="div_botton">
            <div class="col-xs-10 col-xs-offset-1">
                <button class="form-control qpid-btn">OK</button>
            </div>
        </div>
        -->
        
        <div style="clear:both;"></div>
    </div>

<script>

    $(document).ready(function () {


        var screenHigth = (typeof window.outerHeight != 'undefined') ?
               Math.max(window.outerHeight, $(window).height()) : $(window).height();
        var fixedHeader = $("#div_header").height();
        var img = $("#img").height();
        var contentHeight = screenHigth - fixedHeader - img - 80;
        $("#scroll").height(contentHeight + 'px');
               

        $(".win_img").click(function () {

            //alert($(this).attr('windesc'));

            window.location.href = "@Url.Content("~/")App/WinDesc?activity=" +
                        $(this).attr('act') +
                        "&page=" + $(this).attr('windesc');
        });


    });



</script>