<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />

    <title>QPID</title>
    <link type="text/css" rel="stylesheet" href="~/css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="~/font-awesome-4.7.0/css/font-awesome.css" />
    <link type="text/css" rel="stylesheet" href="~/jQuery.mmenu-master/demo/css/demo.css" />
    <link type="text/css" rel="stylesheet" href="~/jQuery.mmenu-master/dist/jquery.mmenu.css" />
    <link type="text/css" rel="stylesheet" href="~/css/style2.css" />

    <script type="text/javascript" src="~/js/jquery-3.2.1.js"></script>
    <script type="text/javascript" src="~/jQuery.mmenu-master/dist/jquery.mmenu.js"></script>

    <style>
        nav i {
            padding-left: 20px;
        }

        nav img {
            margin-left:20px;
        }

        nav div {
            padding-left: 20px;
        }

        nav span {
            font-size: 18px;
            padding-left: 20px;
        }
    </style>
</head>

<body class="bg1">
    <div id="page">

        <nav id="menu">
            <ul>
                <li>
                    <a>
                        <img id="QPID_MYPOTO" name="QPID_MYPOTO" src="~/images/user-175.png" class="userpic" style="width:100px;height:100px;" /><br>
                        <div class="userphone">@ViewBag.ACC</div>
                    </a>
                    <hr class="divsion" />
                </li>
                <li><a href="@Url.Content("~/")App/HistoryList"><i class="fa fa-fw fa-qrcode"></i><span>掃瞄 | 中獎記錄</span></a></li>
                <li><a href="@Url.Content("~/")App/Activities"><i class="fa fa-fw fa-commenting-o"></i><span>活動說明</span></a></li>
                <li><a href="@Url.Content("~/")App/UsrInfo"><i class="fa fa-fw fa-user-o"></i><span>個人資料</span></a></li>
                <li><a href="@Url.Content("~/")App/Question"><i class="fa fa-fw fa-info-circle"></i><span>常見問題</span></a></li>
                <li><a href="@Url.Content("~/")App/About"><i class="fa fa-fw fa-question-circle-o"></i><span>關於我們</span></a></li>
                <!--
                <li><a href="form1.html"><i class="fa fa-fw fa-list-alt" ></i><span>表單元件1</span></a></li>
                <li><a href="form2.html"><i class="fa fa-fw fa-list-alt" ></i><span>表單元件2</span></a></li>
                <li><a href="listview.html"><i class="fa fa-fw fa-list-ul" ></i><span>LIST BOX</span></a></li>
                -->

            </ul>
        </nav>

        <div class="header-bar fixed" id="div_header">
            <a id="a_menu" href="#menu"><span></span></a><i class="backbtn fa fa-times pull-right" aria-hidden="true" style="display:none;"></i>
            <i id="i_reply" class="backbtn fa fa-reply pull-left" aria-hidden="true" style="display:none;margin-left:-40px;"></i>
            <div class="logo w30"></div>
        </div>

        @RenderBody()

    </div>

    <script type="text/javascript">
            $(function() {
                $('nav#menu').mmenu();

                if (typeof Storage !== "undefined") {

                    if (window.localStorage.QPID_MYPOTO) {
                        if (window.localStorage.QPID_MYPOTO.length > 0) {
                            $("#QPID_MYPOTO").attr('src', window.localStorage.QPID_MYPOTO);
                        }
                    }
                }
            });

            function getMyPoto() {

                $.ajax({
                    async: false,
                    type: "POST",
                    url: '@Url.Content("~/")Members/MyPoto',
                    data: "",
                    dataType: 'json',
                    success: function (data, status, xhr) {

                        if (data.Number == "0") {
                            window.localStorage.QPID_MYPOTO = data.Addition;
                            $("#QPID_MYPOTO").attr('src', window.localStorage.QPID_MYPOTO);
                        } else {
                            //alert(data.ErrorMessage);
                        }
                    },
                    error: function (request, error) {
                        alert(error + " : " + request.responseText);
                    },
                    complete: function () {

                    }
                });

            }


    </script>
</body>

</html>


