@{
    Layout = null;
}
@model System.Data.DataTable
@using System.Data;
@using System.Collections.Generic;
@using System.Collections.Specialized;
@using WebHTCBackEnd.Language;

@{
    Layout = "~/Views/Shared/_THCStandarf.cshtml";
    Event_Code_Gen lan = (Event_Code_Gen)ViewData["lan"];

}

<div class="container-fluid">

    <div style="width:100%;">
        <div>
            <strong class="event-title"> @lan.Title  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img id="img_bar" src="~/img/progress_bar.gif" style="height:18px;display:none;"></strong>
            <hr class="style2" />
        </div>
    </div>
    <strong style="color:red;">@lan.Memo</strong>
    <div id="div_bar" class="control-panel" style="width:100%;">
        <div class="row">
            <div class="form-inline col-md-4">
                <label class="control-label" for="txt_sh_eventno">@lan.Event_No</label>
                <!--
                <input class="form-control input-sm" id="txt_sh_eventno" name="txt_sh_eventno" value="" type="text">
                -->
                <div class="input-group">
                    <input type="text" class="form-control " id="txt_sh_eventno" name="txt_sh_eventno" aria-label="...">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle btn-info" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@lan.EventList <span class="caret"></span></button>
                        <ul class="dropdown-menu dropdown-menu-right">
                            @foreach (var evno in @ViewBag.TOP10_EVENTS)
                            {
                                <li><a href="#" >@evno</a></li>
                            }
                        </ul>
                    </div><!-- /btn-group -->
                </div><!-- /input-group -->
                
            </div>

            <div class="form-inline col-md-4">
                <label class="control-label" for="txt_sh_eventname">@lan.Event_Name</label>
                <input class="form-control " id="txt_sh_eventname" name="txt_sh_eventname" value="" type="text">
            </div>
                                             
            <div class="form-inline col-md-4 pull-right">
                <div class="pull-right">
                    <button type="button" class="btn btn-info" onclick="goSearch()">@lan.Search</button>
                    <button type="button" class="btn btn-info" onclick="goClear()">@lan.Clear</button>
                    <button type="button" class="btn btn-warning" id="btn_add" name="btn_add" onclick="goAdd()">@lan.AddDate</button>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div id="div_info" class="panel panel-primary" style="width:100%;display:none;">
        <div class="panel-heading">
            @lan.EventTitle
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-inline col-md-3">
                    <label class="control-label">@lan.Event_No</label>
                    <label class="control-label" >
                        @if(@ViewBag.EVENT_NO != null) 
                        { @ViewBag.EVENT_NO} 
                    </label>
                </div>

                <div class="form-inline col-md-3">
                    <label class="control-label">@lan.Event_Name</label>
                    <label class="control-label">
                        @if (@ViewBag.EVENT_NAME != null)
                        { @ViewBag.EVENT_NAME}                        
                </label>
                </div>
            </div>
            <div class="row">
                <div class="form-inline col-md-3">
                    <label class="control-label">@lan.Vender_No</label>
                    <label class="control-label" >
                        @if (@ViewBag.VENDER_NO != null)
                        { @ViewBag.VENDER_NO}
                </label>
                </div>

                <div class="form-inline col-md-3">
                    <label class="control-label">@lan.Vender</label>
                    <label class="control-label" >
                        @if (@ViewBag.VENDER_NAME != null)
                        { @ViewBag.VENDER_NAME}
                </label>
                </div>
            </div>
        </div>
    </div>

    <div id="div_table" class="pane panel-primary span8 offset2" style="display:none;">

        <div class="panel-body">

            <div class="col-xs-12">
                <table id="example" class="ui celled table" cellspacing="0" style="width:100%">
                    <thead>
                        <tr>
                            <th>@lan.Editor</th>
                            <th>EQCH001</th>
                            <th>EQCH002</th>
                            <th>AE003</th>
                            <th>VM003</th>
                            <th>EQCH003</th>
                            <th>PT002</th>
                            <th>EQCH007</th>
                            <th>EQCH008</th>
                            <th>EQCH009</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            if (Model != null)
                            {
                                foreach (DataRow row in @Model.Rows)
                                {
                                    <tr>
                                        <td></td>
                                        <td>@row["EQCH001"]</td>
                                        <td>@row["EQCH002"]</td>
                                        <td>@ViewBag.EVENT_NAME</td>
                                        <td>@ViewBag.VENDER_NAME</td>
                                        <td>@row["EQCH003"]</td>
                                        <td>@row["PT002"]</td>
                                        <td>@row["EQCH007"]</td>
                                        <td>@row["EQCH008"]</td>
                                        <td>@row["EQCH009"]</td>
                                    </tr>
                                }
                            }
                        }

                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <div id="div_content" class="panel panel-info" style="display:none;">
        <div class="panel-heading">
            <div class="panel-title pull-left">@lan.EditorPanel</div>
            <div class="panel-title pull-right">
                <a href="javascript: void(0)" id="a_chk_def" onclick="goCancel();"><span class="glyphicon glyphicon-remove icon-success"></span></a>&nbsp;&nbsp;
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">

            <form id="form1" class="form" action="" role="form">
                <!--data-toggle="validator" -->

                <div class="row">
                    <div class="form-group col-md-4 form-inline">
                        <label for="txt_event_no">@lan.Event_No</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="txt_event_no" name="txt_event_no" maxlength="20" readonly>
                        </div>
                        <label id="lbl_event_name"></label>                       
                    </div>
                    <div class="form-group col-md-4 form-inline">
                        <label for="txt_vender">@lan.Vender</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="txt_vender" name="txt_vender" maxlength="20" readonly>
                        </div>                       
                    </div>
                    <div class="form-group col-md-4 form-inline">
                        <label for="txt_gen_datetime">@lan.GenDateTime</label>
                        <input type="text" class="form-control" id="txt_gen_datetime" name="txt_gen_datetime" maxlength="20"  readonly>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4 form-inline">
                        <label for="txt_ptype">@lan.ProductType</label>
                        <select class="selectpicker form-control" id="txt_ptype" title="@lan.ProductType" name="txt_ptype" data-width="200px" data-error="@lan.Error_ProductType" required>

                            @foreach (var pro in @ViewBag.product_types.AllKeys)
                            {
                                <option value="@pro">@ViewBag.product_types[@pro]</option>
                            }

                        </select>
                        <div class="help-block with-errors"></div>

                    </div>
                    <div class="form-group col-md-4 form-inline">
                        <label for="txt_serial_number">@lan.Serial_Number</label>
                        <input type="text" class="form-control" id="txt_serial_number" maxlength="20" placeholder="@lan.Serial_Number" name="txt_serial_number" data-error="@lan.Error_PO_Number" required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group col-md-4 form-inline">
                        <label for="txt_po_number">@lan.PO_Number</label>
                        <input type="text" class="form-control" id="txt_po_number" maxlength="20" placeholder="@lan.PO_Number" name="txt_po_number" data-error="@lan.Error_PO_Number" required>
                        <div class="help-block with-errors"></div>
                    </div>                   
                </div>

                <div class="row">
                    <div class="form-group col-md-4 form-inline">
                        <label for="txt_gen_number">@lan.GenNumber</label>
                        <input type="number" class="form-control" id="txt_gen_number" maxlength="20" placeholder="@lan.GenNumber" name="txt_gen_number" data-error="@lan.Error_GenNumber" required>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group col-md-4 form-inline">
                        <label for="txt_emplyee">@lan.Employee</label>
                        <input type="text" class="form-control" id="txt_emplyee" maxlength="20" placeholder="@lan.Employee" name="txt_emplyee" data-error="@lan.Error_Employee" required>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4 form-inline">
                        <label for="txt_finish">@lan.FinishDateTime</label>
                        <input type="text" class="form-control" id="txt_finish" maxlength="20" name="txt_finish" disabled>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>

                <div class="row">
                    <div id="div_progress" class="form-group col-md-4 form-inline">
                        <label style="font-size:16px;">@lan.CodeState</label>
                        <strong id="sng_state" name="sng_state" style="font-size:16px;"></strong>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="0"
                                 aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                0%
                            </div>
                        </div>

                    </div>
                </div>

                <hr />
                <button type="submit" class="btn btn-primary" id="btn_submit">
                    <!-- onclick="doSubmit();" -->
                    <span class="glyphicon glyphicon-saved"></span>&nbsp;&nbsp;&nbsp;&nbsp;@lan.Confirm&nbsp;&nbsp;&nbsp;&nbsp;
                </button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-warning" onclick="goCancel();" id="btn_back">
                    <span class=" glyphicon glyphicon-share-alt">
                    </span>&nbsp;&nbsp;&nbsp;&nbsp;@lan.Back&nbsp;&nbsp;&nbsp;&nbsp;
                </button>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-danger" onclick="goGenDownloadCode();" id="btn_download">
                    <span class=" glyphicon glyphicon-save">
                    </span>&nbsp;&nbsp;&nbsp;&nbsp;@lan.Download&nbsp;&nbsp;&nbsp;&nbsp;
                </button>
            </form>

        </div>
    </div>

</div>

<link rel="stylesheet" href="~/css/popup.css" />  
<!-- POPUP -->
<a class="btn" data-popup-open="popup-1" style="display:none;" href="#">Open Popup #1</a>

<div class="popup" data-popup="popup-1">
    <div class="popup-inner">
        <h2>Wow! This is Awesome! (Popup #1)</h2>
        <p>Donec in volutpat nisi. In quam lectus, aliquet rhoncus cursus a, congue et arcu. Vestibulum tincidunt neque id nisi pulvinar aliquam. Nulla luctus luctus ipsum at ultricies. Nullam nec velit dui. Nullam sem eros, pulvinar sed pellentesque ac, feugiat et turpis. Donec gravida ipsum cursus massa malesuada tincidunt. Nullam finibus nunc mauris, quis semper neque ultrices in. Ut ac risus eget eros imperdiet posuere nec eu lectus.</p>
        <p><a data-popup-close="popup-1" href="#">Close</a></p>
        <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
    </div>
</div>

<script>

    var mdlAction;
    var editRow;
    var table;
    var EVENT_KEY;
    var EVENT_NO;
    var EVENT_NAME;
    var VENDER_NO;
    var VENDER_NAME;
    var MYKEY;
    var RUN_ID;
    var timer_handle;
    var tableRow;

    var ADD_CODE_ACTION = 200;
    /*
      function openEvents() {

        $('[data-popup="popup-1"]').fadeIn(350);
    }
    */
    $(document).ready(function () {


        @{
            if (!string.IsNullOrEmpty(ViewBag.EVENT_NO))
            {
                <text>
                    EVENT_KEY = '@ViewBag.EVENT_KEY';
                </text>
            }
            
            if (!string.IsNullOrEmpty(ViewBag.s_event_no))
            {
                <text>
        $("#txt_sh_eventno").val('@ViewBag.s_event_no');
        </text>
            }
            if (!string.IsNullOrEmpty(ViewBag.s_event_name))
            {
                <text>
        $("#txt_sh_eventname").val('@ViewBag.s_event_name');
        </text>
            }
        }

        //----- OPEN
        $('[data-popup-open]').on('click', function (e) {
            var targeted_popup_class = jQuery(this).attr('data-popup-open');
            $('[data-popup="' + targeted_popup_class + '"]').fadeIn(350);

            e.preventDefault();
        });

        //----- CLOSE
        $('[data-popup-close]').on('click', function (e) {
            var targeted_popup_class = jQuery(this).attr('data-popup-close');
            $('[data-popup="' + targeted_popup_class + '"]').fadeOut(350);

            e.preventDefault();
        });

        loadTable();

        $('#btn_add').hide();
        @{
           if(Model != null){
               <text>
        $('#div_info').show();
        $('#div_table').show();
        $('#btn_add').show();
        EVENT_NO = '@ViewBag.EVENT_NO';
        EVENT_NAME = '@ViewBag.EVENT_NAME';
        VENDER_NO = '@ViewBag.VENDER_NO';
        VENDER_NAME = '@ViewBag.VENDER_NAME';
        </text>
            }
        }

        $(".dropdown-menu li a").click(function () {
            var eventItem = $(this).text();
            var splits = eventItem.split('-');
            $("#txt_sh_eventno").val(splits[0]);
            $("#txt_sh_eventname").val(splits[1]);
        });

        $('#form1').validator();
        $('#form1').validator().on('submit', function (e) {
            if (e.isDefaultPrevented()) {
                // handle the invalid form...
                //alert('invalid');
            } else {
                // everything looks good!
                e.preventDefault();

                if (editMode == 'A') {
                    doAddQuestion();
                } else if (editMode == 'U') {
                    doUpdate();
                }
            }
        })
    });

    function loadTable() {
        table = $('#example').DataTable({
            info: true,
            bLengthChange: false,
            searching: false,
            "language": {
                "lengthMenu": "顯示 _MENU_ 紀錄 每頁",
                "zeroRecords": "@lan.DataTable_NoData",
                "info": "@lan.DataTable_CurrentPage _PAGE_ / _PAGES_",
                "infoEmpty": "@lan.DataTable_NoData",
                "infoFiltered": "(filtered from _MAX_ total records)",
                "paginate": {
                    "next": "&nbsp;&nbsp;@lan.DataTable_NextPage&nbsp;&nbsp;",
                    "previous": "&nbsp;&nbsp;@lan.DataTable_PreviousPage&nbsp;&nbsp;"
                }
            },
            "columns":
            [
                {
                    mRender: function (data, type, row) {
                        //console.log(row);
                        var editLink = '<a  data-id="' + row.EQCH001 + '" onclick="editClick(\'' + row.EQCH001 + '\');" ><span class="glyphicon glyphicon-pencil" style="cursor: pointer;"></span></a>';
                        //var delLink = '<a  data-id="' + row.EQCH001 + '" onclick="deleteClick(\'' + row.EQCH001 + '\');" ><span class="glyphicon glyphicon-trash" style="cursor: pointer;"></a>';
                        return editLink;// + '&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;' + delLink;
                    },
                    "orderable": false
                },
                { "title": "KEY", "data": "EQCH001", bVisible: false },
                { "title": "@lan.Event_No", "data": "EQCH002" },
                { "title": "@lan.Event_Name", "data": "AE003" },
                { "title": "@lan.Vender", "data": "VM003" },
                { "title": "@lan.GenDateTime", "data": "EQCH003" },
                { "title": "@lan.ProductType", "data": "PT002" },
                { "title": "@lan.GenNumber", "data": "EQCH007" },
                { "title": "@lan.Employee", "data": "EQCH008" },
                { "title": "@lan.FinishDateTime", "data": "EQCH009" },

            ],
        });
    }

    function editClick(row) {
        editRow = row;
        getTargetRow(editRow);
        getRemoteRow();
        $("#div_bar").hide();
        $("#div_info").hide();
        $("#div_table").hide();
        $("#div_content").fadeIn(500);

        $("#txt_gen_number").prop('readonly', true);
    }

    function deleteClick(row) {
        editRow = row;
        getTargetRow(editRow);
        //type, autohide , msg, action, handler
        showQMoal('q', false, '@lan.CheckRemove', 100, onQuestion);
    }

    function onQuestion(action, type) {

        if (type == 'y') {
            if (action == 100) {
                //doDelete();
            }
            else if (action == ADD_CODE_ACTION) {
                doAdd();
            }
        } else if (type == 'n') {
        }
    }

    function goSearch() {

        if (txt_sh_eventno.value.length == 0 && txt_sh_eventname.value.length == 0) {
            $('#div_info').hide();
            $('#div_table').hide();
            $('#btn_add').hide();
            return false;
        }
        var args = "event_no=" + txt_sh_eventno.value + "&event_name=" + txt_sh_eventname.value;
        var searchUrl = "@Url.Content("~/")codegen/CodeGenSearch?" + args;
        window.location.href = searchUrl;
    }

    function goAdd() {
        $('#form1')[0].reset();
        $("#div_bar").hide();
        $('#div_info').hide();
        $("#div_table").hide();
        $("#div_content").fadeIn(500);

        $('#txt_event_no').val(EVENT_NO);
        $('#lbl_event_name').text(EVENT_NAME);
        $('#txt_vender').val(VENDER_NAME);

        $("#txt_ptype").selectpicker('val', '');
        $('#div_progress').hide();
        $('#btn_submit').show();
        $('#btn_download').hide();
        editMode = 'A';
    }

    function goClear() {

        $("#div_bar :input[type=text]").val('');
    }

    function goCancel() {
        $("#div_content").hide();
        $("#div_bar").show();
        $('#div_info').show();
        $("#div_table").fadeIn(500);
        $("#txt_gen_number").prop('readonly', false);
        editMode = '';
    }

    function getRemoteRow() {
        showLoadingBar();
        var data = { key: editRow };
        $.ajax({
            async: false,
            type: "POST",
            url: '@Url.Content("~/")codegen/SingleCodeGenData',
            data: data,
            dataType: 'json',
            success: function (data, status, xhr) {

                jDatas = jQuery.parseJSON(data);
                if (jDatas.length == 1) {
                    $('#form1')[0].reset();
                    MYKEY = jDatas[0].EQCH001;
                    $("#txt_event_no").val(jDatas[0].EQCH002);
                    $("#lbl_event_name").text(jDatas[0].AE003);
                    $("#txt_vender").val(jDatas[0].VM003);
                    $("#txt_gen_datetime").val(jDatas[0].EQCH003);
                    $("#txt_ptype").val(jDatas[0].EQCH004).change();
                    $("#txt_po_number").val(jDatas[0].EQCH005);
                    $("#txt_serial_number").val(jDatas[0].EQCH006);
                    $("#txt_gen_number").val(jDatas[0].EQCH007);
                    $("#txt_emplyee").val(jDatas[0].EQCH008);
                    $("#txt_finish").val(jDatas[0].EQCH009);
                    editMode = 'U';
                    $('#div_progress').hide();
                    $('#btn_download').show();

                } else {
                    if (jDatas.ErrorMessage) {
                        //alert(jDatas.ErrorMessage);
                        showQMoal('e', false, jDatas.ErrorMessage, 0, null);
                    }
                }
            },
            error: function (request, error) {
                alert(error + " : " + request.responseText);
            },
            complete: function () {
                hideLoadingBar();
            }
        });
    }

    function doAddQuestion() {
        showQMoal('q', false, '@lan.MSG_GenCode', ADD_CODE_ACTION, onQuestion);
    }

    function doAdd() {

        showLoadingBar();
        $formData = $("#form1").serialize() + "&lbl_event_name=" + $("#lbl_event_name").text();

        $.ajax({
            async: false,
            type: "POST",
            url: '@Url.Content("~/")codegen/NewEventCodeGen',
            data: $formData,
            dataType: 'json',
            success: function (data, status, xhr) {

                jDatas = jQuery.parseJSON(data);
                if (jDatas.length == 1) {
                    MYKEY = jDatas[0].NewId;
                    tableRow = table.row.add({
                        "EQCH001": jDatas[0].NewId,
                        "EQCH002": $("#txt_event_no").val(),
                        "AE003": $("#lbl_event_name").text(),
                        "VM003": $("#txt_vender").val(),
                        "EQCH003": jDatas[0].GenDateTime,
                        "PT002": $("#txt_ptype").find('option:selected').text(),
                        "EQCH007": $("#txt_gen_number").val(),
                        "EQCH008": $("#txt_emplyee").val(),
                        "EQCH009": $("#txt_finish").val()
                    });
                    tableRow.draw();
                    editRow = jDatas[0].NewId;
                    //goCancel();
                    startGenCode();

                } else {
                    if (jDatas.ErrorMessage) {
                        showQMoal('e', false, jDatas.ErrorMessage, 0, null);
                        peddingHide();
                    }
                }
            },
            error: function (request, error) {
                alert(error + " : " + request.responseText);

            },
            complete: function () {
                hideLoadingBar();
            }
        });
    }

    function doUpdate() {

        showLoadingBar();
        $formData = $("#form1").serialize();
        $formData += "&key=" + MYKEY; //tableRow.data().EQCH001;

        $.ajax({
            async: false,
            type: "POST",
            url: '@Url.Content("~/")codegen/UpdateEventCodeGen',
            data: $formData,
            dataType: 'json',
            success: function (data, status, xhr) {

                jDatas = jQuery.parseJSON(data);
                if (jDatas.length == 1) {

                    var rowData = tableRow.data();
                    rowData.PT002 = $("#txt_ptype").find('option:selected').text();
                    tableRow.data(rowData).draw();
                    goCancel();

                } else {
                    if (jDatas.ErrorMessage) {
                        showQMoal('e', true, jDatas.ErrorMessage, 0, null);
                    }
                }
            },
            error: function (request, error) {
                alert(error + " : " + request.responseText);

            },
            complete: function () {
                hideLoadingBar();
            }
        });
    }

    function doDelete() {

        showLoadingBar();
        var data = { event_no: editRow };
        $.ajax({
            async: false,
            type: "POST",
            url: '@Url.Content("~/")codegen/DeleteEventData',
            data: data,
            dataType: 'json',
            success: function (data, status, xhr) {

                jDatas = jQuery.parseJSON(data);
                if (jDatas.length == 1) {
                    table.row(tableRow).remove().draw();
                } else {
                    if (jDatas.ErrorMessage) {
                        showQMoal('e', true, jDatas.ErrorMessage, 0, null);
                    }
                }
            },
            error: function (request, error) {
                alert(error + " : " + request.responseText);
            },
            complete: function () {
                hideLoadingBar();
            }
        });
    }

    function startGenCode() {
        showLoadingBar();
        $formData = "key=" + MYKEY;

        $.ajax({
            async: false,
            type: "POST",
            url: '@Url.Content("~/")codegen/GenerateCode',
            data: $formData,
            dataType: 'json',
            success: function (data, status, xhr) {

                jDatas = jQuery.parseJSON(data);
                if (jDatas.length == 1) {

                    RUN_ID = jDatas[0].ID;
                    var runState = jDatas[0].STATE;

                    if (RUN_ID.length > 0) {
                        timer_handle = setInterval(queryCodeState, 2000);
                        $("#sng_state").text('@lan.CodeRun');
                        $('#div_progress').show();
                        $('#btn_submit').hide();
                        $('#btn_back').hide();
                        $('#btn_download').hide();
                    } else {
                        $("#sng_state").text('@lan.Error_GenCode');
                    }

                } else {
                    if (jDatas.ErrorMessage) {
                        showQMoal('e', false, jDatas.ErrorMessage, 0, null);
                    }
                }
            },
            error: function (request, error) {
                alert(error + " : " + request.responseText);

            },
            complete: function () {
                hideLoadingBar();
            }
        });
    }

    function queryCodeState() {

        $formData = "id=" + RUN_ID;

        $.ajax({
            async: false,
            type: "POST",
            url: '@Url.Content("~/")codegen/GetCodeState',
            data: $formData,
            dataType: 'json',
            success: function (data, status, xhr) {

                jDatas = jQuery.parseJSON(data);

                if (jDatas.HasError) {
                    $("#sng_state").css('color', 'red');
                    $("#sng_state").text(jDatas.State);
                    $('#btn_submit').show();
                    $('#btn_back').show();
                    clearTimeout(timer_handle);
                } else {

                    var width = jDatas.PreogressValue + '%';
                    $('.progress-bar').css('width', width)
                                    .attr('aria-valuenow', jDatas.PreogressValue)
                                    .text(width);

                    if (jDatas.IsCompleted) {
                        $("#sng_state").text('Done');
                        clearTimeout(timer_handle);
                        $('#btn_back').show();
                        $('#btn_download').show();
                        $("#txt_finish").val(jDatas.State);


                        var rowData = tableRow.data();
                        rowData.EQCH009 = jDatas.State;
                        tableRow.data(rowData).draw();

                        /*
                    console.log(table.row(editRow));
                    var c = table.data().count();
                    for (var i = 0; i < c; i++) {
                        var r = table.row(i).data();
                        console.log(r);
                        //var rowData = table.cells({ row: i, column: 1 }).data();
                        //console.log(rowData);
                        if (r.EQCH001 === '50') {
                            r.EQCH002 = "****";
                            //r.draw();
                            table.row(i).data(r).draw()
                            break;
                        }
                    }
                    */
                    }

                }
            },
            error: function (request, error) {
                clearTimeout(timer_handle);
                alert(error + " : " + request.responseText);

            },
            complete: function () {
                hideLoadingBar();
            }
        });
    }

    function getTargetRow(key) {
        var count = table.data().count();
        for (var i = 0; i < count; i++) {
            var r = table.row(i).data();
            if (r.EQCH001 === key) {
                //r.EQCH002 = "****";
                //r.draw();
                //table.row(i).data(r).draw()
                tableRow = table.row(i);
                return true;
            }
        }
        return false;
    }

    function goGenDownloadCode() {

        showLoadingBar();

        $formData = "event_key=" +EVENT_KEY +
                    "&id=" + MYKEY;
        $.ajax({
            async: false,
            type: "POST",
            url: '@Url.Content("~/")codegen/GenDownloadCode',
            data: $formData,
            dataType: 'json',
            success: function (data, status, xhr) {

                jDatas = jQuery.parseJSON(data);

                if (jDatas.length == 1) {
                    doDownload(jDatas[0].FILE);
                } else {
                    if (jDatas.ErrorMessage) {
                        showQMoal('e', false, jDatas.ErrorMessage, 0, null);
                    }
                }

            },
            error: function (request, error) {
                clearTimeout(timer_handle);
                alert(error + " : " + request.responseText);

            },
            complete: function () {
                hideLoadingBar();
            }
        });
    }

    function doDownload(filename) {

        var url = '@Url.Content("~/")codegen/DownloadCode?event_no=' +
                    $("#txt_event_no").val() + '&event_name=' + $("#lbl_event_name").text() +
                    '&id=' + MYKEY + "&filename=" + filename;

        window.location.href = url;

    }

</script>



